[data-theme='light']{
  --bg-color:#ffffff;
  --text-color:#333333;
  --heading-color:#444444;
  --border-color:#0F172A

}
[data-theme='dark']{
  --bg-color:#0F172A;
  --text-color:#ffffff;
  --heading-color:#dddddd;
  --border-color:#333333;
}
body{
  background-color: black;
}
.main-border{
  border: 1px solid var(--border-color);
  background-color: var(--bg-color);
  color: var(--text-color);
}